
background: #fff url(https://images-ext-1.discordapp.net/external/KlSa6TCmlUD4rpgDGHi3pFQs7eqfUiYlJVtqOYaUf20/https/media.discordapp.net/attachments/881255636183171082/931111568173826059/a_aec9826608cfdf991b1f5ccbfc64bca9.gif) center top/cover no-repeat fixed;

h1 { 
   position: absolute; 
   top: 600px; 
   left: 220; 
   width: 100%; 
}

h1 span { 
   color: rgb(0, 0, 0); 
   font: bold 40px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0);
   padding: 10px; 
}
h1 span.spacer {
   padding:0 5px;
}

h2 { 
    position: absolute; 
    top: 400px; 
    left: 0; 
    width: 100%; 
}

h2 span { 
    color: rgb(0, 0, 0); 
    font: bold 80px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0);
    padding: 10px; 
}
h2 span.spacer {
    padding:0 5px;
}


.show-hide-text {
display: flex;
flex-wrap: wrap;
}

.show-hide-text a {
order: 2;
}

.show-hide-text p4 {
position: relative;
overflow: hidden;
max-height: 60px;
}

.show-hide-text p4 {
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

.show-hide-text p5 {
   position: relative;
   overflow: hidden;
   max-height: 60px;
}
   
.show-hide-text p5 {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.show-hide-text p6 {
   position: relative;
   overflow: hidden;
   max-height: 60px;
}
   
.show-hide-text p6 {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.show-less {
display: none;
}

.show-less:target {
display: block;
}

.show-less:target ~ p4 {
display: block;
max-height: 100%;
}

.show-less:target ~ p5 {
   display: block;
   max-height: 100%;
}

.show-less:target ~ p6 {
   display: block;
   max-height: 100%;
}

.show-less:target + a {
display: none;
}
.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h2 { 
    position: absolute; 
    top: 400px; 
    left: 0; 
    width: 100%; 
 }

 h2 span { 
    color: rgb(0, 0, 0); 
    font: bold 80px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0);
    padding: 10px; 
 }
 h2 span.spacer {
    padding:0 5px;
 }
